.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #615555;
}

.active {
  background-color: #04AA6D;
}


body {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 18px;
  background-color: lightblue;
  
}

.container {
  max-width: 1600px;
  margin: 0 left;
  padding: 20px;
  background-color: lightblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.laptop {
  margin: auto;
  padding: 10%;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 2px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #333;
  color: white;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: white;
  margin: 0 auto;
}

a {
  color: white;
}

a:hover {
  background-color: #615555;
}

img {
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  width: 500px;
}

.ICT {
  color: black;
}

.profiel {
  margin-left: right;
  margin-right: right;
  margin: right;
}


.fitness {
  border-radius: 10px;
  width: 500px;
  margin: auto;
}

.solid {
  border-style: solid;
  border-radius: 25px;
  border: 2px solid #333;
  padding: 20px;
  width: 600px;
  height: 150px;
  margin: auto;
}

.opmaak-studiekeuze {
  border-style: solid;
  border-radius: 25px;
  border: 2px solid #333;
  padding: 100px;
  width: 600px;
  height: auto;
  margin: auto;
}

.motivatie {
  text-align: center;
}

hr {
  height: 2px;
  border-width: 2;
  color: gray;
  background-color: gray;

}

article {
  font-family: Arial, sans-serif;
  text-align: center;
}

.profieltext {
  text-align: center;
  float: none;
  list-style-type: none;

}

.linkjes {
  color: black;
}

.hrindex {
  height: 8px;
  border-width: 0;
  color: gray;
  background-color: gray;
  
}